@charset "utf-8";
.phone_show{
    display: block;
}
.phone_hide{
    display: none;
}
.top{
    height: 33px;
    text-align: center;
    background-color: #002050;
}
.top h4{
    font-family: '宋体';
    font-size: 12px;
    line-height: 33px;
    color: #fff;
}
.top a{
    color: #fff;
    text-decoration:underline;
}
.header{
    height: 45px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}
.header h1{
    height: 45px;
    float: left;
    padding-left: 12px;
    padding-top: 12px;
    box-sizing: border-box;
}
.header .p1{
    float: right;
}
.header .p1 a{
    color: #000;
}
.header .p1 span{
    font-size: 24px;
    line-height: 45px;
    padding-right: 20px;
    box-sizing: border-box;
}
.nav{
    height: 50px;
    border-bottom: 1px solid #CCCCCC;
}
.nav p{
    float: left;
    padding-left:12px ;
    box-sizing: border-box;
    font-family: '宋体';
    font-size: 14px;
    line-height: 50px;
    color: #0078D7;
    font-weight: bold;
}
.nav a{
    float: right;
    color: #0078D7;
}
.nav span{
    font-size: 24px;
    line-height: 50px;
    padding-right: 12px;
    box-sizing: border-box;
}
.banner img{
    width: 100%;
}
.content{
    text-align: center;
}
.content .u1{
    height: 110px;
    margin-top: 10px;
    margin-left: 40px;
}
.content .u1 li{
    width: 100px;
    height: 40px;
    float: left;
    margin-right: 10px;
    font-family: '宋体';
    font-size: 12px;
    line-height: 40px;
    background-color: #0F64CE;
    margin-bottom: 10px;
}
.content .u1 li a{
    color: #FFF;
}
.content .u1 .l1{
    background-color: #17AAD5;
}
.content .i1{
    width: 100%;
    margin-bottom: 40px;
}
.content .u2{
    margin-left: 2px;
}
.content .u2 li{
    display: inline-block;
    width: 355px;
    height: 390px;
    border: 1px solid #DCDCDC;
    margin-bottom: 24px;
}
.content img{
    width: 100%;
}
.content .i3{
    margin-bottom: 30px;
}
.footer{
    background-color: #414141;
    color: #fff;
    margin-top: 22px;

}
.footer li{
    line-height: 45px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}
.footer p{
    font-size: 16px;
    border-bottom: 1px solid #737373;
}
.footer span{
    float: right;
}
.footer a{
    color: #fff;
}

#xl2{
    padding-left: 20px;
}
.footer .zg{
    margin-top: 46px;
}
.footer .zg li{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
}
.footer .fdlo{
    margin-top: 21px;
    padding-bottom: 22px;
}
.footer h3{
    padding-left: 12px;
    box-sizing: border-box;
}
}
.footer .xl{
    font-size: 12px;
}
